Django==1.5.1

Fabric==1.6.1
gunicorn==17.5
gevent==0.13.8
honcho==0.4.2

psycopg2==2.5.1
South==0.8.1
dj-database-url==0.2.2

Unipath==1.0

boto==2.9.8
django-storages==1.1.8


pil==1.1.7

Jinja2==2.7
MarkupSafe==0.18
django-cache-utils==0.7.2
greenlet==0.4.1
httplib2==0.8
paramiko==1.10.1
pycrypto==2.6
python-gflags==2.0
wsgiref==0.1.2

raven==3.4.1
