body {
    margin: 0;
    height: 2000px;
}
.rec { 
    width: 100%;
    height: 160px;
    opacity: .85; /* layer alpha */
    background-color: #5fcdb5; /* layer fill content */
    bottom: 160px;
    position: relative;
}
.logo {
    width: 351px;
    height: 45px;
    padding: 54px 0 0 29px;
}
.back {
    width: 100%;
    height: 400px;
    background-size: cover;
}
.fixed {
    position:fixed;
    bottom:0;
}
.canvasdiv {
    background: gray;
    width: 100%;
    height: 800px;
    margin: 50px auto;
    position: fixed;
    bottom: -50px;
    z-index: -1;
    canvas {
        width: 100%;
        height: 800px;
    }
}
